* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navigation {
  display: flex;
  align-items: center;
  /* max-width: 1350px; */
  gap: 2rem;
  margin: 0 2rem;
}

.menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.list-bar {
  display: flex;
  width: 100%;
  position: relative;
}

.lists {
  width: 100%;
  margin: 1.4rem 2rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.lists li {
  padding: 1.9rem;
  list-style: none;
  text-align: center;
}

.nav-list li a {
  padding: 0 0.2rem;
  text-decoration: none;
  font-weight: 600;
  color: #032d60;
  font-size: 1.6rem;
}

.logo {
  width: 7.5rem;
  height: 6rem;
}

.btn {
  border: 0;
  padding: 1.3rem 3rem;
  border-radius: 0.4rem;
}

.btn-green {
  background: #2e844a;
  color: #fff;
}

.nav-contact {
  text-decoration: underline;
  font-weight: normal;
}

.phone-number {
  display: inline-block;
  font-size: 1.5rem;
  width: 9rem;

  text-decoration: none;
}

.btn-green:hover {
  background: #000;
}

.nav-list a:hover {
  color: #0051ff;
}

.x-btn {
  display: none;
}

@media screen and (max-width: 1299px) {
  .x-btn-visible {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  .menu {
    display: block;
  }
  .menu-visible {
    display: none;
  }
  .nav-1 {
    display: none;
  }
  .expand {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 7.4rem;
    left: -2rem;
    border: 1px solid #e2e2e2;
  }

  .nav-1 li {
    padding: 1.2rem 1.4rem;
  }

  .nav-1 li a {
    padding: 0 2rem;
    font-size: 2rem;
  }

  .nav-contact a {
    padding: 0 2rem;
  }
  .btn {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 500px) {
  .btn {
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    text-align: left;
  }
  .nav-2 {
    justify-content: end;
    padding: 0;
    margin: 1rem 0rem;
    text-align: left;
  }

  .logo {
    width: 5rem;
    height: 4rem;
  }

  .navigation {
    margin: 0.4rem 0.8rem;
  }
  .menu,
  .x-btn {
    font-size: 2.4rem;
  }
}

/* ad */

.ad-component {
  background: #0176d3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
}
.ad-text {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 3rem;
}
.ad-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}

/* hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  margin: 3rem;
}

.hero-img-container {
  margin: 3rem;
  width: 100%;
}

.hero-img {
  width: 100%;
  height: 60vh;
  /* opacity: 0.4; */
}

.hero-header {
  color: #032d60;
  font-size: 4.8rem;
  line-height: 4.8rem;
  padding: 1rem 1.2rem;
  margin-bottom: 2rem;
}
.hero-text {
  color: #181818;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 3rem;
  padding: 1rem 1.2rem;
  margin-bottom: 6rem;
}
.btn-container {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.btn-blue {
  background: #0176d3;
  padding: 1.5rem 3.2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-blue:hover {
  background: #011f72;
}

.btn-outline {
  background: #fff;
  border: 2px solid #0176d3;
  padding: 1.5rem 3.2rem;
  color: #0176d3;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-outline:hover {
  background: #d4e0ff;
}

/* responsive hero section */
@media screen and (max-width: 912px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero-img-container {
    display: none;
  }
  .hero-header {
    margin-bottom: 1rem;
  }
  .hero-text {
    margin-bottom: 2rem;
  }
}
/* card  */

.card {
  max-width: 1200px;
  margin: 1rem auto;
  height: auto;
}

.card-first-content {
  width: 28rem;
  height: auto;
  border-radius: 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 1rem;
}

.card-first-header {
  text-align: center;
  margin-bottom: 4rem;
}
.card-first-text {
  font-size: 3.5rem;
  color: #032d60;
  background: #fff;
  font-weight: 700;
  letter-spacing: -0.128px;
  line-height: 4rem;
}

/* card-content */

.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.card-first-img-container {
  width: 28rem;
  height: 18rem;
  margin-bottom: 2rem;
}

.card-first-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

/* card - description */

.card-first-description-container {
  text-align: center;
  margin-bottom: 4rem;
}
.card-first-description {
  padding: 2rem;
  color: #032d60;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.08px;
}

.card-first-description:hover {
  color: #0051ff;
}

/* card link */
.card-first-link-container {
  text-align: left;
  margin-bottom: 3rem;
}

.card-first-link {
  padding: 2rem;
  color: #032d60;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.08px;
}

.card-first-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 1211px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .card-first-content {
    width: 40rem;
    height: auto;
    border-radius: 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
  }

  .card {
    max-width: 900px;
    margin: 1rem auto;
    height: auto;
  }

  .card-first-img-container {
    width: 40rem;
    height: 30rem;
    margin-bottom: 2rem;
  }

  .card-first-img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
}

@media screen and (max-width: 875px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .card-first-content {
    width: 36rem;
    height: auto;
    border-radius: 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
  }

  .card {
    max-width: 500px;
    margin: 1rem auto;
    height: auto;
  }

  .card-first-img-container {
    width: 36rem;
    height: 30rem;
    margin-bottom: 2rem;
  }
}

/* description -1 */
.description-1 {
  max-width: 1200px;
  margin: 5rem auto;
  text-align: center;
  margin: 3rem;
}

.description-1-header {
  max-width: 800px;
  margin: 0 auto;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.128px;
  color: #032d60;
  margin-bottom: 1.8rem;
}

.description-1-text {
  max-width: 700px;
  margin: 0 auto;
  color: #181818;
  font-size: 1.9rem;
  letter-spacing: -0.0216px;
  line-height: 2.8rem;
  margin-bottom: 3rem;
}
/* card 2 */
.card-2 {
  max-width: 1250px;
}
.card-2-img {
  width: 38.9rem;
  height: 38.9rem;
}
.card-2-content {
  width: 38.9rem;
}

.card-2-title {
  text-align: center;
  margin-bottom: 0.3rem;
}
.p-title {
  font-size: 2rem;
  font-weight: 700;
  color: #032d60;
}
.card-2-description-content {
  margin-bottom: 0.3rem;
}
.card-2-description {
  padding: 0;
  cursor: auto;
  font-size: 1.6rem;
  padding: 1rem;
}

.card-2-description:hover {
  color: #032d60;
}
.card-2-link-container {
  text-align: center;
}
.card-2-link {
  font-size: 1.6rem;
  font-weight: 500;
}

@media screen and (max-width: 1215px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .card-2 {
    max-width: 1000px;
  }
  .card-2-img {
    width: 28rem;
    height: 28rem;
  }
  .card-2-content {
    width: 28rem;
  }
}

@media screen and (max-width: 900px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .card-2 {
    max-width: 800px;
  }
  .card-2-img {
    width: 40rem;
    height: 40rem;
  }
  .card-2-content {
    width: 40rem;
  }
}

/* icons */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.description-icons {
  max-width: 15rem;
  height: auto;
  margin: 2rem 3rem;
}
.icon-img {
  width: 50%;
}

.icon-text {
  font-size: 1.7rem;
}
.icon-link-text {
  text-decoration: none;
  color: #032d60;
}
.icon-link-text:hover {
  color: #0176d3;
}

@media screen and (max-width: 900px) {
  .description-icons {
    max-width: 10rem;
    height: 10rem;
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .icon-container {
    display: flex;
  }
  .description-icons {
    max-width: 7rem;
    height: 10rem;
    margin: 2rem 1rem;
  }
  .icon-img {
    width: 100%;
  }
  .icon-text {
    font-size: 1.4rem;
  }
}

.description-mb {
  margin-bottom: 4rem;
}

.company-logo-container {
  max-width: 1200px;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  width: 20rem;
  padding: 2rem;
}

.logo-container {
  border-radius: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 1rem;
}
